{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
      "airbnb-typescript",
      "plugin:@typescript-eslint/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "settings": {
      "import/resolver": {
        "node": {
         "extensions": [".js", ".jsx", ".ts", ".tsx"]
        },
        "typescript": {}
      }
    },
    "rules": {
      "max-len": ["error", { "code": 120 }],
      "no-console": "off",
      "spaced-comment": ["error", "never", { "block": { "balanced": true } }],
      "react/prop-types": 0,
      "max-classes-per-file": ["error", 2],
      "import/no-cycle": 0,
      "no-nested-ternary": 0,
      "no-alert": 0,
      "import/no-unresolved": 0,
      "@typescript-eslint/no-non-null-assertion": 0,
      "@typescript-eslint/no-use-before-define": 0
    }
}
