html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

pre {
  padding: 20px;
  background-color: #f6f8fa;
  font-size: 17px;
}

.post img {
  max-height: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#__next {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.progress-bar {
  margin: 100px;
}